body{
    background-image:url(bgintro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: 40vw;
}

.text{
    width: 30vw;
    margin: 150px;
    font-family: 'Exo', sans-serif; 
}
.text_color
{
    color:  #ff6d6d;
}